<ng-template #loading>
    <mat-progress-bar mode="query"></mat-progress-bar>
</ng-template>

<div class="container" *ngIf="cohorteService.isDataLoaded; else loading">

    <input placeholder="Busque por nombre de cohorte o término" [(ngModel)]="filterInput">

    <div class="containerCohorte" *ngFor="let cohorte of cohorteService.cohorteGet.data.cohortes | filter:filterInput">

        <div class="headerCohorte">
            <p class="cohorteName">
                {{ cohorte.cohorte.nombre_cohorte }}
            </p>
            <span class="headerPipe">|</span>
            <p>conceptos ({{ cohorteService.getNumeroConceptos(cohorte.cohorte.id_cohorte) }})</p>

            <fa-icon class="iconModify" [icon]="faPen" title="Modificar esta cohorte"></fa-icon>
            <fa-icon class="iconRemove" [icon]="faTrash" title="Eliminar esta cohorte"
                (click)="removeCohorte(cohorte.cohorte.id_cohorte)"></fa-icon>
        </div>

        <hr>

        <div class="bodyCohorte">
            <div *ngFor="let concepto of cohorte.conceptos">
                <span class="concepto">
                    <a class="links"
                        [routerLink]="['/results/', concepto.termino_preferido]">{{ concepto.termino_preferido }}</a>
                </span>
            </div>
        </div>

    </div>
</div>