p.totalCohortes {
    margin-left: 33%;
    margin-top: 1rem;
    font-size: 18px;
    font-weight: lighter;
}

input {
    margin-top: 1rem;
    margin-left: 33%;
    padding: 5px 5px 5px 5px;
    outline: none;
    height: 25px;
    width: 730px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 15px;
    text-indent: 10px;
}

input:focus {
    border-color: rgba(0, 0, 0, 0.39);
}

/* input::placeholder {
    text-indent: ;
} */

::ng-deep .mat-progress-bar-fill::after {
    background-color: rgb(103, 190, 107);
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}

.barraOpciones {
    display: flex;
    background-color: #cceed2;
    height: 3rem;
    width: 100;
}

.botonesCohorte {
    display: flex;
    align-content: center;
    margin-left: 10px;
}

button {
    margin: 5px
}

ul {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.containerCohorte {
    padding: 2rem 2rem 2rem 3rem;
    margin: 1rem;
    margin-left: 33%;
    width: 36%;
    border: 1px solid #35a560c7;
    border-radius: 7px;
    box-shadow: 6px 6px 6px -5px rgba(92, 92, 92, 0.75);    
}

.cohorteID {
    font-size: 20px;
}

.cohorteName {
    font-size: 20px;
}

.headerPipe {
    font-size: 20px;
    margin-left: 18px;
    margin-right: 18px;
    color: rgba(124, 124, 124, 0.438);
}

.headerCohorte {
    display: flex;
}

hr {
    margin-bottom: 1rem;
    color: rgba(221, 221, 221, 0.356);
    
}

.bodyCohorte {
    max-height: 250px;
    overflow-y: scroll;
    position: relative;
    align-items: flex-start;
}

.iconModify {
    font-size: 1.5rem;
    color: #84ca9f;
    margin-left: auto;
    margin-right: 3%;
    cursor: pointer;
}

.iconRemove {
    font-size: 1.5rem;
    color: rgba(255, 0, 0, 0.562);
    /* margin-left: auto; */
    margin-right: 3%;
    cursor: pointer;
}

.iconModify:hover {
    color: #248f4d;
}

.iconRemove:hover {
    color: red;
}

.links {
    text-decoration: none;
    color: #003cbd;
}

.links:hover {
    text-decoration: underline;
}

.a:visited {
    text-decoration: none;
}