<div class="barraOpciones">
    <div class="botonesCohorte">

        <button mat-raised-button class="botonVerCohortes" [routerLink]="['/cohortes']">
            Ver cohortes
        </button>

    </div>
</div>


<div class="container">
    <div class="cohorte">

        <div class="headerCohorte">
            <h2>Crear nueva cohorte ({{cohorteService.cohorteActual.length}})</h2>
            <span *ngIf="cohorteService.nombreCohorte && cohorteService.cohorteActual.length; else buttonDisabled">
                <fa-icon class="iconEnabled" [icon]="faCheckCircle"
                    (click)="cohorteService.postCohorte(cohorteService.nombreCohorte, cohorteService.cohorteActual)">
                </fa-icon>
            </span>
            <ng-template #buttonDisabled>
                <fa-icon class="iconDisabled" [icon]="faCheckCircle">
                </fa-icon>
            </ng-template>

        </div>

        <div class="nombreCohorte">
            <mat-form-field appearance="legacy">
                <mat-label>Nombre de la cohorte *</mat-label>
                <input matInput [(ngModel)]="cohorteService.nombreCohorte">
                <mat-hint>*Requerido</mat-hint>
            </mat-form-field>
        </div>

        <div class="cuerpoCohorte">
            <ul>
                <li *ngFor="let termino of cohorteService.cohorteActual">

                    <mat-checkbox class="checkboxTermino"
                        (change)="cohorteService.onChange($event, termino, cohorteService.cohorteActual)"
                        [checked]="cohorteService.isChecked(termino)">
                        <a class="links"
                            [routerLink]="['/results/', termino.termino_preferido]">{{ termino.termino_preferido }}</a>
                    </mat-checkbox>
                </li>
            </ul>
        </div>
    </div>
</div>