<div class="barraOpciones">
    <div class="botonesCohorte">

        <button mat-raised-button class="botonVerCohortes" [routerLink]="['/cohortes']">
            Ver cohortes</button>

    </div>
</div>


<div class="container">
    <div class="cohorte">

        <div class="headerCohorte">
            <h2>Crear nueva cohorte ({{cohorteService.cohorteActual.length}})</h2>
            <fa-icon [icon]="faCheckCircle"></fa-icon>
        </div>

        <div class="nombreCohorte">
            <mat-form-field appearance="legacy">
                <mat-label>Nombre de la cohorte *</mat-label>
                <input matInput>
                <mat-hint>*Requerido</mat-hint>
            </mat-form-field>
        </div>

        <div class="cuerpoCohorte">
            <ul>
                <li *ngFor="let termino of cohorteService.cohorteActual">

                    <mat-checkbox class="checkboxTermino"
                        (change)="cohorteService.onChange($event, termino, cohorteService.cohorteActual)"
                        [checked]="cohorteService.isChecked(termino)">

                        <a class="links"
                            [routerLink]="['/results/', termino.termino_preferido]">{{ termino.termino_preferido }}</a>

                    </mat-checkbox>
                </li>
            </ul>
        </div>
    </div>
</div>