/* Barra de opciones */

.barraOpciones {
    display: flex;
    background-color: #cceed2;
    height: 3rem;
    width: 100;
}

.botonesCohorte {
    display: flex;
    align-content: center;
    margin-left: 10px;
}

.botonVerCohortes {
    margin: 5px;
    background-color: rgb(46, 114, 55);
    color: rgb(255, 255, 255);
    font-weight: bold;
}


/* Container crear nueva cohorte */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 33%;
    margin-top: 15px;
    width: 36%;
    border: 1px solid #00000044;
    border-radius: 7px;
    box-shadow: 6px 6px 6px -5px rgba(92, 92, 92, 0.75);
    background-color: rgba(255, 255, 255, 0.644);
}

.container:hover {
    border: 1px solid #00000079;
}

/* Header nueva cohorte*/

.headerCohorte {
    display: flex;
}

.cohorte {
    padding-top: 12px;
    margin: 1rem;
}

fa-icon {
    font-size: 2.5rem;
    color: rgb(0, 187, 16);
    margin-left: auto;
    margin-right: 5%;
}

.iconEnabled {
    cursor: pointer;
}

.iconDisabled {
    font-size: 2.5rem;
    color: rgb(90, 90, 90);
    margin-left: auto;
    margin-right: 5%;
}

span {
    margin-left: auto;
    margin-right: 5%;
}

/* Nombre nueva cohorte */

.nombreCohorte {
    margin-left: 13%
}

.mat-form-field {
    width: 420px;
}

/* Cuerpo nueva cohorte */

.cuerpoCohorte {
    margin-left: 7%;
    margin-right: 7%;
}

h2 {
    margin-left: 6%;

}

ul {
    list-style-type: none;
}

.links {
    text-decoration: none;
    color: #003cbd;
}