/* You can add global styles to this file, and also import other style files */


html, body { height: 100%;}
body { margin: 0; background-color: #effcef;}

* {
    font-family: 'Montserrat' !important;
}

.mat-checkbox-layout {
    white-space: normal !important;
}

.mat-checkbox.mat-accent .mat-checkbox-inner-container {
    margin: 2px 8px auto 0 !important;
}