<div class="searchBar">
    <form [formGroup]='searchForm'>
        <input matInput formControlName='searchInput' [matAutocomplete]="auto" autofocus
            placeholder="Ingrese un término clínico" (keyup.enter)="onNewSearch()" value="">
    </form>

    <button class="searchButton" type='button'>
        <fa-icon [icon]="faSearch" (click)="onNewSearch()"></fa-icon>
    </button>
</div>


<mat-autocomplete #auto="matAutocomplete">

    <small class="numeroConceptosAutocomplete" *ngIf="resultsAutocomplete?.query_autocomplete.length == 500">
        500+
    </small>
    <small class="numeroConceptosAutocomplete" *ngIf="resultsAutocomplete?.query_autocomplete.length < 500">
        {{ resultsAutocomplete?.query_autocomplete.length }}
    </small>

    <mat-option *ngFor="let result of resultsAutocomplete?.query_autocomplete" [value]="result.termino_preferido">
        {{ result.termino_preferido }}
    </mat-option>
</mat-autocomplete>