<div class="modal">
    <div mat-dialog-title>
        <ng-template #loading>
            <mat-progress-bar mode="query"></mat-progress-bar>
        </ng-template>
        <h2>Agregar a una cohorte existente</h2>
    </div>

    <div mat-dialog-content>

        <div class="container" *ngIf="cohorteService.isDataLoaded; else loading">

            <mat-accordion>
                <div class="cohorte" *ngFor="let cohorte of cohorteService.cohorteGet.data.query_cohortes">

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{cohorte.nombre_cohorte}} ({{ cohorteService.getNumeroConceptos(cohorte.id_cohorte) }})
                            </mat-panel-title>
                            <mat-panel-description>

                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="botonesCohorte">
                            <button class="botonAgregarCohorte" mat-raised-button [mat-dialog-close]
                                (click)="cohorteService.updateCohorte(cohorte.id_cohorte, cohorteService.cohorteActual)">
                                Agregar a esta cohorte
                            </button>
                        </div>
                    </mat-expansion-panel>

                </div>
            </mat-accordion>

        </div>
    </div>
</div>