<ng-template #loading>
    <mat-progress-bar mode="query"></mat-progress-bar>
</ng-template>

<div class="barraOpciones">
    <button mat-raised-button class="botonVerCohorte" (click)="showCohorte()">Ver cohorte</button>
    <!-- <button mat-raised-button class="botonAgregarCohorte" (click)="addToCohorte()">Agregar a cohorte</button> -->
</div>

<div class="container" *ngIf="isDataLoaded; else loading">
    <div class="padres">
        <ul>
            <h2>
                Padres ({{ cohorteService.resultados.data.query_padres_termino_preferido.length }})
            </h2>

            <li *ngFor="let padre of cohorteService.resultados.data.query_padres_termino_preferido">
                <mat-checkbox class="checkboxTermino" (change)="cohorteService.onChange($event, padre)"
                    [checked]="cohorteService.isChecked(padre)">
                    <a class="links"
                        [routerLink]="['/results/', padre.termino_preferido]">{{ padre.termino_preferido }}</a>
                </mat-checkbox>
            </li>
        </ul>
    </div>

    <div class="termino">
        <ul>
            <h2>
                Término
            </h2>

            <li *ngFor="let termino of cohorteService.resultados.data.query_termino_preferido">
                <mat-checkbox class="checkboxTermino" (change)="cohorteService.onChange($event, termino)"
                    [checked]="cohorteService.isChecked(termino)">
                    <a class="links"
                        [routerLink]="['/results/', termino.termino_preferido]">{{ termino.termino_preferido }}</a>
                    <p>ID: {{ termino.concept_id_HIBA }}</p>
                </mat-checkbox>
            </li>
        </ul>
    </div>

    <div class="hijos">
        <ul>
            <h2>
                Hijos ({{ cohorteService.resultados.data.query_hijos_termino_preferido.length }})
            </h2>

            <li *ngFor="let hijo of cohorteService.resultados.data.query_hijos_termino_preferido">
                <mat-checkbox class="checkboxTermino" (change)="cohorteService.onChange($event, hijo)"
                    [checked]="cohorteService.isChecked(hijo)">
                    <a class="links"
                        [routerLink]="['/results/', hijo.termino_preferido]">{{ hijo.termino_preferido }}</a>
                </mat-checkbox>
            </li>
        </ul>
    </div>
</div>