/* .padres {
    display: flex;
    float: left;
    width: 400px;
}

.padres {
    display: flex;
    float: left;
    width: 400px;
}

.hijos {
    display: flex;
    float: left;
    width: 400px;
}  */