<ng-template #loading>
    <mat-progress-bar mode="query"></mat-progress-bar>
</ng-template>

<div class="barraOpciones" *ngIf="isDataLoaded; else loading">
    <div class="botonesCohorte">

        <button mat-raised-button class="botonVerCohortes" [routerLink]="['/cohortes']" (click)="showCohorte()">
            Ver cohortes</button>

        <button mat-raised-button class="botonNuevaCohorte" (click)="openDialog()"
            [ngStyle]="cohorteService.cohorteActual.length === 0 ? {'background-color':'rgb(112, 112, 112)'} : {'background-color': 'rgb(50, 165, 66)'}">
            Agregar cohorte ({{ cohorteService.cohorteActual.length }})</button>

        <button mat-raised-button class=" botonEliminarCohorte" (click)="cohorteService.removeAllFromCohorte()">
            <fa-icon [icon]="faTrash" (click)="cohorteService.removeAllFromCohorte()"></fa-icon>
        </button>

    </div>
</div>

<div class="container" *ngIf="isDataLoaded; else loading">
    <div class="padres">
        <ul>
            <div class="titleRow">
                <h2>
                    Padres ({{ cohorteService.resultados.data.query_padres_termino_preferido.length }})
                </h2>
                <div class="titleRowCohorteOpciones">
                    <button mat-raised-button class="botonSelectAll"
                        (click)="cohorteService.selectAll(cohorteService.resultados.data.query_padres_termino_preferido)">
                        Select all
                    </button>

                    <button mat-raised-button class="botonDeselectAll"
                        (click)="cohorteService.deselectAll(cohorteService.resultados.data.query_padres_termino_preferido)">
                        Deselect all
                    </button>
                </div>

            </div>

            <li *ngFor="let padre of cohorteService.resultados.data.query_padres_termino_preferido">
                <mat-checkbox class="checkboxTermino"
                    (change)="cohorteService.onChange($event, padre, cohorteService.resultados.data.query_padres_termino_preferido)"
                    [checked]="cohorteService.isChecked(padre)">

                    <a class="links" [routerLink]="['/results/', padre.termino_preferido]">{{ padre.termino_preferido }}
                    </a>
                </mat-checkbox>
            </li>
        </ul>
    </div>

    <div class="termino">
        <ul>
            <h2>
                Término
            </h2>

            <li *ngFor="let termino of cohorteService.resultados.data.query_termino_preferido">
                <mat-checkbox class="checkboxTermino"
                    (change)="cohorteService.onChange($event, termino, cohorteService.resultados.data.query_termino_preferido)"
                    [checked]="cohorteService.isChecked(termino)">
                    <a class="links"
                        [routerLink]="['/results/', termino.termino_preferido]">{{ termino.termino_preferido }}
                    </a>
                    <small><br>ID: {{ termino.concept_id_HIBA }}</small>
                </mat-checkbox>
            </li>
        </ul>
    </div>

    <div class="hijos">
        <ul>
            <div class="titleRow">
                <h2>
                    Hijos ({{ cohorteService.resultados.data.query_hijos_termino_preferido.length }})
                </h2>

                <div class="titleRowCohorteOpciones">
                    <button mat-raised-button class="botonSelectAll"
                        (click)="cohorteService.selectAll(cohorteService.resultados.data.query_hijos_termino_preferido)">
                        Select all
                    </button>

                    <button mat-raised-button class="botonDeselectAll"
                        (click)="cohorteService.deselectAll(cohorteService.resultados.data.query_hijos_termino_preferido)">
                        Deselect all
                    </button>
                </div>

            </div>

            <li *ngFor="let hijo of cohorteService.resultados.data.query_hijos_termino_preferido">
                <mat-checkbox class="checkboxTermino"
                    (change)="cohorteService.onChange($event, hijo, cohorteService.resultados.data.query_hijos_termino_preferido)"
                    [checked]="cohorteService.isChecked(hijo)">
                    <a class="links" [routerLink]="['/results/', hijo.termino_preferido]">{{ hijo.termino_preferido }}
                    </a>
                </mat-checkbox>
            </li>
        </ul>
    </div>
</div>