.barraOpciones {
    display: flex;
    background-color: #cceed2;
    height: 3rem;
    width: 100;
}

.botonesCohorte {
    display: flex;
    align-content: center;
    margin-left: 10px;
}

.botonNuevaCohorte {
    margin: 5px;
    background-color: rgb(25, 155, 42);
    color: rgb(255, 255, 255);
    /* font-weight: bold; */
    box-shadow: none;
}

.disabled {
    background-color: grey;
    color: white;
}

.botonVerCohortes {
    margin: 5px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(46, 114, 55, 0.671);
    color: rgb(46, 114, 55);
    /* font-weight: bold; */
    box-shadow: none;
}

.botonVerCohortes:hover {
    border: 1px solid rgb(46, 114, 55);
}

.botonEliminarCohorte {
    margin: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.26);
    box-shadow: none;
}

.botonEliminarCohorte:hover {
    border: 1px solid rgba(0, 0, 0, 0.432);
}

fa-icon {
    margin: 12px;
    font-size: 1.5rem;
    color:red;
    cursor: pointer;
}

.titleRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.titleRowCohorteOpciones {
    margin-left: auto;
}

.botonSelectAll {
    margin-right: 10px;
    height: 2.3rem;
    color: white;
    font-weight: bold;
    background-color: rgb(209, 68, 162);
    border: 1px solid rgb(209, 68, 162);
    box-shadow: none;
}

.botonDeselectAll {
    margin-right: 10px;
    height: 2.3rem;
    color: rgb(209, 68, 162);
    background-color: white;
    border: 1px solid rgb(209, 68, 162);
    box-shadow: none;
}

.padres {
    width:  33%;
    border: 1px solid #00000044;
    border-radius: 7px;
    padding-right: 1rem;
    margin: 1rem;
    box-shadow: 6px 6px 6px -5px rgba(92, 92, 92, 0.75);
    background-color: #dbffe252;
}

.termino {
    width: 33%;
    border: 1px solid #00000044;
    border-radius: 7px;
    padding-right: 1rem;
    margin: 1rem;
    box-shadow: 6px 6px 6px -5px rgba(92, 92, 92, 0.75);
    background-color: rgba(255, 255, 255, 0.644);
}

.hijos {
    width: 33%;
    border: 1px solid #00000044;
    border-radius: 7px;
    padding-right: 1rem;
    margin: 1rem;
    box-shadow: 6px 6px 6px -5px rgba(92, 92, 92, 0.75);
    background-color: #dbffe252;
}

.padres:hover {
    border: 1px solid #00000079;
}

.termino:hover {
    border: 1px solid #00000079;
}

.hijos:hover {
    border: 1px solid #00000079;
}

h2.padresTitle {
    font-weight: bold;
    color: #2b7c4a;
}

h2.terminoTitle {
    font-weight: bold;
    color: #4a8862;
}

h2.hijosTitle {
    font-weight: bold;
    color: #2b7c4a;
}

.links {
    text-decoration: none;
    color: #003cbd;
}

.links:hover {
    text-decoration: underline;
}

p.loading {
    font-size: 20px;
    margin: 1rem;
}

.container {
    display: flex;
}

ul {
    list-style-type: none;
}

.mat-menu-color {
    background-color: rgb(50, 165, 66);
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: rgb(103, 190, 107);
    height: 1px;
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
    height: 1px;
}

::ng-deep .mat-progress-bar {
    height: 1px;
}