.botonAgregarCohorte {
    margin-top: 15px;
    margin-left: 30%;
    background-color: white;
    border: 1px solid rgb(209, 68, 162);
    color: rgb(209, 68, 162);
    box-shadow: none;
}

input {
    /* margin-top: 1rem; */
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    outline: none;
    height: 25px;
    width: 525px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 15px;
    text-indent: 10px;
}

input:focus {
    border-color: rgba(0, 0, 0, 0.39);
}

.mat-expansion-panel.mat-expanded {
    background-color: rgba(146, 146, 146, 0.062);
}

